html {
  scroll-behavior: smooth;
}

body {
  width: 100vw;
  overflow-x: hidden;
  position: absolute;
  top: 0;
  left: 0;
}

a {
  color: $clickable;

  &:hover {
    font-style: italic;
  }
}

input[type='text']::placeholder, input[type='email']::placeholder, textarea::placeholder {
  color: $placeholder;
}

textarea {
  outline: none;
}